extends ../enotafiscal/rps_index

block rps-list

    h3.pt-2.pb-2.pl-2.bg-warning Detalhe de RPS - #[strong #{title}]
    div#printable.container
        table.table.table-sm.mb-3.pb-3
            tr.table-dark
                td.w-20.pt-4.text-center
                    img.w-30( src='/images/cifraorps.jpg', 
                        alt='imagem', 
                        title='Imagem')
                td.pt-4.text-center
                    h4 Prefeitura do Municipio
                    h4 Secretaria Municipal de Finanças
                    h4 RPS - Recibo provisório de serviços
                td.w-30.pt-4.text-left
                    b Número: #[b#pdf-one.text-danger.text-right #{undefined===rps_list ? '' : rps_list.numero}]
                    br
                    b Série: #[b#pdf-two.text-danger #{undefined===rps_list ? '' : rps_list.serie}]
                    br
                    b Data/Hora: #[b#pdf-three.text-danger #{undefined===rps_list ? '' : rps_list.dataHora}]
                    br
                    b#rps-print-id #{rps_list._id}

        table.table.table-sm.text-center
            tr 
                td.bg-light
                    b PRESTADOR DE SERVIÇO

        table.table.table-sm.text-left.t-top.mb-0
            tr
                td 
                    | CPF:
                    | #[b #{undefined===rps_list ? '' : rps_list.prestador[0].cpf}]
                td 
                    | CNPJ:
                    | #[b #{undefined===rps_list ? '' : rps_list.prestador[0].cnpj}]
                td
                    | Inscr. municipal:
                    | #[b #{undefined===rps_list ? '' : rps_list.prestador[0].inscr_municipal}]

        table.table.table-sm.text-left.t-body.mt-0.mb-0
            tr
                td 
                    | Nome/Razão:
                    | #[b#pdf-four #{undefined===rps_list ? '' : rps_list.prestador[0].nome_razao}]
                td  
                    | E-mail:
                    | #[b #{undefined===rps_list ? '' : rps_list.prestador[0].email}]
                td
                    | Fone:
                    | #[b #{undefined===rps_list ? '' : rps_list.prestador[0].fone}]
        
        table.table.table-sm.text-left.t-bottom.mt-0
            tr
                td 
                    | Endereço:
                    | #[b #{undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].logradouro}]
                    | , #[b #{undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].numero}]
                    | ( #[b #{undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].complemento}] )
                    | - #[b #{undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].bairro}]
                    | - #[b  #{undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].cidade}]
                    | - #[b  #{undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].uf}]
                td
                    | CEP: 
                    | #[b  #{undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].cep}]
        
        table.table.table-sm.text-center
            tr 
                td.bg-light
                    b TOMADOR DE SERVIÇO

        table.table.table-sm.text-left.t-top.mb-0
            tr
                td 
                    | CPF:
                    | #[b #{undefined===rps_list ? '' : rps_list.tomador[0].cpf}]
                td 
                    | CNPJ:
                    | #[b #{undefined===rps_list ? '' : rps_list.tomador[0].cnpj}]
                td
                    | Inscr. municipal:
                    | #[b #{undefined===rps_list ? '' : rps_list.tomador[0].inscr_municipal}]
        
        table.table.table-sm.text-left.t-body.mt-0.mb-0
            tr
                td 
                    | Nome/Razão: 
                    | #[b #{undefined===rps_list ? '' : rps_list.tomador[0].nome_razao}]
                td
                    | E-mail:
                    | #[b #{undefined===rps_list ? '' : rps_list.tomador[0].email}]
                td
                    | Fone:
                    | #[b #{undefined===rps_list ? '' : rps_list.tomador[0].fone}]
        
        table.table.table-sm.text-left.t-bottom.mt-0
            tr
                td 
                    | Endereço:
                    | : #[b #{undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].logradouro}]
                    | , #[b #{undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].numero}]
                    | ( #[b #{undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].complemento}] )
                    | - #[b #{undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].bairro}]
                    | - #[b #{undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].cidade}]
                    | - #[b #{undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].uf}]
                td
                    | CEP: 
                    | #[b #{undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].cep}]
        
        table.table.table-sm.text-center
            tr 
                td.bg-light
                    b CÓDIGO DO SERVIÇO/ATIVIDADE
                            
        table.table.table-sm.text-left.t-border-around
            tr 
                td
                    p Cod./Ativ.: #[b #{undefined===rps_list ? '' : rps_list.cod_atividade}]

        table.table.table-sm.text-center
            tr 
                td.bg-light
                    b DISCRIMINAÇÃO DO(S) SERVIÇO(S)
                            
        table.table.table-sm.text-left.t-border-around
            tr 
                td.w-10
                    p Quant.:
                    p #[b #{undefined===rps_list ? '' : rps_list.discriminacao[0].quantidade}]
                td
                    p Descrição:
                    p #[b #{undefined===rps_list ? '' : rps_list.discriminacao[0].descricao}]
                td.w-20
                    p V. uni.:
                    p #[b #{undefined===rps_list ? '' : rps_list.discriminacao[0].valorUnitario}]
                td.w-20
                    p V. tot.:
                    p #[b #{undefined===rps_list ? '' : rps_list.discriminacao[0].valorTotal}]

        table.table.table-sm.text-center
            tr 
                td.bg-light
                    b DEDUÇÕES

        table.table.table-sm.pb-0.t-border-around
            tr 
                td.text-left.borderright.borderbottom
                    p Valor dos serviços (R$)
                td.text-left.borderright.borderbottom
                    p Valor PIS (R$)
                td.text-left.borderright.borderbottom
                    p Valor COFINS (R$)
                td.text-left.borderbottom
                    p Valor IRRF (R$)
            tr 
                td.text-right.borderright
                    b #{undefined===rps_list ? '' : rps_list.valorNota}
                td.text-right.borderright
                    b #{undefined===rps_list ? '' : rps_list.fisco[0].pis}
                td.text-right.borderright
                    b #{undefined===rps_list ? '' : rps_list.fisco[0].cofins}
                td.text-right
                    b #{undefined===rps_list ? '' : rps_list.fisco[0].irrf}
            tr 
                td.text-left.borderright.bordertop.borderbottom
                    p Valor INSS (R$)
                td.text-left.borderright.bordertop.borderbottom
                    p Valor CSLL (R$)
                td.text-left.borderright.bordertop.borderbottom
                    p Valor descontos (R$)
                td.text-left.bordertop.borderbottom
                    p Outros (R$)
            tr 
                td.text-right.borderright
                    b #{undefined===rps_list ? '' : rps_list.fisco[0].inss}
                td.text-right.borderright
                    b #{undefined===rps_list ? '' : rps_list.fisco[0].csll}
                td.text-right.borderright
                    b #{undefined===rps_list ? '' : rps_list.fisco[0].desconto}
                td.text-right
                    b #{undefined===rps_list ? '' : rps_list.fisco[0].outras}

        table.table.table-sm
            tr 
                td.text-right.bg-light
                    b VALOR TOTAL DA NOTA (R$):
                td.w-15.t-body.text-left
                    b #{undefined===rps_list ? '' : rps_list.valorNota}

        table.table.table-sm.text-left.pb-0.t-border-around
            tr 
                td.text-left.borderright.borderbottom
                    | Valor total NF (R$)
                td.text-left.borderright.borderbottom
                    | Valor deduções (R$)
                td.text-left.borderright.borderbottom
                    | Base calc. ISS (R$)
                td.text-left.borderright.borderbottom
                    | Alíquota ISS (%)
                td.text-left.borderright.borderbottom
                    | Valor ISS (R$)
                td.w-15.text-left.borderbottom
                    | ISS retido?
            tr
                td.text-right.borderright
                    b #{undefined===rps_list ? '' : rps_list.valorNota}
                td.text-right.borderright
                    b #{undefined===rps_list ? '' : rps_list.deducao}
                td.text-right.borderright
                    b #{undefined===rps_list ? '' : rps_list.valorNota}
                td.text-right.borderright
                    b #{undefined===rps_list ? '' : rps_list.fisco[0].iss}
                td.text-right.borderright
                    b #{undefined===rps_list ? '' : rps_list.valor}
                td.w-15.text-right
                    b #{undefined===rps_list ? '' : issRetido}

        table.table.table-sm.text-center
            tr 
                td.bg-light
                    b OUTRAS INFORMAÇÕES:

        table.table.table-sm.mb-0.t-border-around
            tr 
                td.text-left.w-20
                    b #{undefined===rps_list ? '' : rps_list.outras}

        br
        br
        a.btn.btn-sm.btn-primary.ml-3.noprint.bshadow(
            type='button', 
            href=rps_list._id+'/update', 
            onMouseUp='this.blur();') Alterar
        button.btn.btn-sm.btn-primary.ml-3.noprint.bshadow(
            onClick='printDiv("printable","rps");', 
            onMouseUp='this.blur();') Imprimir
        a.button.btn.btn-outline-primary.btn-sm.ml-3.bshadow.noprint( 
            href='javascript:history.back();') Voltar
    br
    br
    if errors 
        ul
        for error in errors
            li!= error.msg
