extends ../enotafiscal/rps_index

block rps-list

    h3.pt-2.pb-2.pl-2.bg-warning #[strong #{title}]
    hr

    form( method='POST' action='' )

        input(type='hidden', name='_csrf', value=csrfToken )
        input(type='hidden', name='id', value=(undefined===rps_list ? '' : rps_list._id) )

        table#table-rps.table.table-sm.mb-3.pb-3.text-center
            tr.table-dark
                td.w-20.pt-5
                    img.w-30( src='/images/cifraorps.jpg', 
                        alt='imagem', 
                        title='Imagem')
                td.pt-5
                    h4 Prefeitura do Municipio
                    h4 Secretaria Municipal de Finanças
                    h4 RPS - Recibo provisório de serviços
                td.w-20 
                    b Número:
                    input#numero.form-control(type='text', 
                        placeholder='Número (00000)', 
                        name='numero', 
                        required='true', 
                        value=(undefined===rps_list ? numero : rps_list.numero) readonly )
                
                    b Série:
                    input#serie.form-control(type='text', 
                        placeholder='Série (00000)', 
                        name='serie', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.serie) )
                
                    b Data/Hora:
                    input#dataHora.form-control(type='text', 
                        placeholder='Data/Hora', 
                        name='datahora', 
                        required='true', 
                        value=(undefined===rps_list ? data : rps_list.dataHora) readonly )

        table.table.table-sm.text-center.mb-0
            tr 
                td
                    b PRESTADOR DE SERVIÇO

        table.table.table-sm.text-left.pb-0
            tr 
                td 
                    b CPF:
                    input#cpfPrestador.form-control(type='text', 
                        placeholder='cpf/cnpj (00000000000)', 
                        name='cpf-prestador', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.prestador[0].cpf) )
                td 
                    b CNPJ:
                    input#cnpjPrestador.form-control(type='text', 
                        placeholder='cpf/cnpj (00000000000)', 
                        name='cnpj-prestador', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.prestador[0].cnpj) )
                td
                    b Inscr. municipal:
                    input#inscrMunicipalPrestador.form-control(type='text', 
                        placeholder='inscr. munici. (00000000000)', 
                        name='inscr-municipal-prestador',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.prestador[0].inscr_municipal) )

        table.table.table-sm.text-left
            tr
                td 
                    labbel(for='nomerazaoPrestador') #[b Nome/Razão]:
                    input#nomerazaoPrestador.form-control(type='text', 
                        placeholder='nome/razao', 
                        name='nome-razao-prestador', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.prestador[0].nome_razao) )
        table.table.table-sm.text-left
            b Endereço:
            tr
                td 
                    input#logradouroPrestador.form-control(type='text', 
                        placeholder='logradouro', 
                        name='end-logradouro-prestador',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].logradouro) )
                td.w-10
                    input#numeroEnderecoPrestador.form-control(type='text', 
                        placeholder='numero', 
                        name='end-numero-prestador',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].numero) )
                td
                    input#complemento.form-control(type='text', 
                        placeholder='complemento', 
                        name='end-complemento-prestador',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].complemento) )
                td
                    input#bairroPrestador.form-control(type='text', 
                        placeholder='bairro', 
                        name='end-bairro-prestador', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].bairro) )
                td.w-15
                    input#cepPrestador.form-control(type='text', 
                        placeholder='cep', 
                        name='end-cep-prestador',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].cep) )
                            
        table.table.table-sm.text-left
            tr 
                td
                    input#cidadePrestador.form-control(type='text', 
                        placeholder='cidade', 
                        name='end-cidade-prestador',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].cidade) )
                td
                    input#ufPrestador.form-control(type='text', 
                        placeholder='UF', 
                        name='end-uf-prestador',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.prestador[0].endereco[0].uf) )
                td
                    input#emailPrestador.form-control(type='email', 
                        placeholder='email', 
                        name='email-prestador', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.prestador[0].email) )
                td
                    input#fonePrestador.form-control(type='text', 
                        placeholder='fone', 
                        name='fone-prestador', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.prestador[0].fone) )
        table.table.table-sm.text-center.mb-0
            tr 
                td
                    b TOMADOR DE SERVIÇO

        table.table.table-sm.text-left.pb-0
            tr
                td 
                    b CPF:
                    input#cpfTomador.form-control(type='text', 
                        placeholder='cpf/cnpj (00000000000)', 
                        name='cpf-tomador', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.tomador[0].cpf) )
                td 
                    b CNPJ:
                    input#cnpjTomador.form-control(type='text', 
                        placeholder='cpf/cnpj (00000000000)', 
                        name='cnpj-tomador', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.tomador[0].cnpj) )
                td
                    b Inscr. municipal:
                    input#inscrmunicipalTomador.form-control(type='text', 
                        placeholder='inscr. munici. (00000000000)', 
                        name='inscr-municipal-tomador', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.tomador[0].inscr_municipal) )

        table.table.table-sm.text-left
            tr
                td 
                    labbel(for='nomerazaoTomador') #[b Nome/Razão]:
                    input#nomerazaoTomador.form-control(type='text', cpf
                        placeholder='nome/razao', 
                        name='nome-razao-tomador', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.tomador[0].nome_razao) )

        table.table.table-sm.text-left
            b Endereço:
            tr
                td 
                    input#logradouroTomador.form-control(type='text', 
                        placeholder='logradouro', 
                        name='end-logradouro-tomador',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].logradouro) )
                td.w-10
                    input#numeroTomador.form-control(type='text', 
                        placeholder='numero', 
                        name='end-numero-tomador',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].numero) )
                td
                    input#complementoTomador.form-control(type='text', 
                        placeholder='complemento', 
                        name='end-complemento-tomador',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].complemento) )
                td
                    input#bairroTomador.form-control(type='text', 
                        placeholder='bairro', 
                        name='end-bairro-tomador', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].bairro) )
                td.w-15
                    input#cepTomador.form-control(type='text', 
                        placeholder='cep', 
                        name='end-cep-tomador',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].cep) )
                            
        table.table.table-sm.text-left
            tr 
                td
                    input#cidadeTomador.form-control(type='text', 
                        placeholder='cidade', 
                        name='end-cidade-tomador',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].cidade) )
                td
                    input#ufTomador.form-control(type='text', 
                        placeholder='UF', 
                        name='end-uf-tomador',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.tomador[0].endereco[0].uf) )
                td
                    input#emailTomador.form-control(type='text', 
                        placeholder='email', 
                        name='email-tomador', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.tomador[0].email) )
                td
                    input#foneTomador.form-control(type='text', 
                        placeholder='fone', 
                        name='fone-tomador', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.tomador[0].fone) )

        table.table.table-sm.text-center.mb-0
            tr 
                td
                    b CÓDIGO DO SERVIÇO/ATIVIDADE
                            
        table.table.table-sm.text-left
            tr 
                td
                    input#codAtividade.form-control(type='text', 
                        placeholder='codigo do serviço/atividade', 
                        name='cod-atividade',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.cod_atividade) )

        table.table.table-sm.text-center.mb-0
            tr 
                td
                    b DISCRIMINAÇÃO DO(S) SERVIÇO(S)
                            
        table.table.table-sm.text-left
            tr 
                td.w-10
                    textarea#discrQuantidade.form-control(
                        rows='5', 
                        placeholder='quant.', 
                        name='discr-quantidade',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.discriminacao[0].quantidade) )
                td
                    textarea#discrDescricao.form-control( 
                        rows="5",
                        placeholder='descrição', 
                        name='discr-descricao',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.discriminacao[0].descricao) )
                td.w-10
                    textarea#discrValorunitario.form-control(
                        rows='5', 
                        placeholder='valor uni.', 
                        name='discr-valor-unitario',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.discriminacao[0].valorUnitario) )
                td.w-10
                    textarea#discrValortotal.form-control(
                        rows='5', 
                        placeholder='valor total', 
                        name='discr-valor-total',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.discriminacao[0].valorTotal) )

        table.table.table-sm.text-left.pb-0
            tr 
                td
                    p Valor dos serviços (R$)
                    input#valorRps.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='valor-rps', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.valorNota) )
                td
                    p Valor PIS (R$)
                    input#valorPis.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='fisco-pis', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.fisco[0].pis) )
                td
                    p Valor COFINS (R$)
                    input#valorCofins.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='fisco-cofins', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.fisco[0].cofins) )
                td
                    p Valor IRRF (R$)
                    input#valorIrrf.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='fisco-irrf', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.fisco[0].irrf) )
            tr 
                td
                    p Valor INSS (R$)
                    input#valorInss.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='fisco-inss', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.fisco[0].inss) )
                td
                    p Valor CSLL (R$)
                    input#valorCsll.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='fisco-csll', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.fisco[0].csll) )
                td
                    p Valor descontos (R$)
                    input#valorDescontos.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='fisco-desconto', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.fisco[0].desconto) )
                td
                    p Outros (R$)
                    input#valorOutros.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='fisco-outras', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.fisco[0].outras) )

        table.table.table-sm.mb-0
            tr 
                td.text-right
                    b VALOR TOTAL DA NOTA (R$):
                td.w-20
                    input#valorNota.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='valor-nota-rps',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.valorNota) )

        table.table.table-sm.text-left.pb-0
            tr 
                td
                    p Valor total NF (R$)
                    input#valorNf.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.valorNota) )
                td
                    p Valor deduções (R$)
                    input#valorDeducoes.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='valordeducoes', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.fisco[0].desconto) )
                td
                    p Base calc. ISS (R$)
                    input#valorBIss.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='valorbaseiss', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.valorNota) )
                td
                    p Alíquota ISS (%)
                    input#aliquotaAIss.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='aliquotaiss', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.fisco[0].iss) )
                td
                    p Valor ISS (R$)
                    input#valorDeducoes.form-control.text-right(type='text', 
                        placeholder='0.00', 
                        name='valoraliquotaiss', 
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.valor) )
                td.w-15
                    p ISS retido?
                    table 
                        tr 
                            td.text-right
                                input#IssRetidoTrue.radio-iss(type='radio', 
                                    name='iss-retido', 
                                    required='true', 
                                    value='true'
                                    rps_list.issRetido ? 'checked' : '')
                                label.label-iss(for='IssRetidoTrue') Sim
                            td.text-right
                                input#IssRetidoFalse.radio-iss(type='radio', 
                                    name='iss-retido', 
                                    required='true', 
                                    value='false'
                                    rps_list.issRetido ? 'checked' : '')
                                label.label-iss(for='IssRetidoFalse') Não

        table.table.table-sm.mb-0.text-center
            tr 
                td
                    b OUTRAS INFORMAÇÕES:

        table.table.table-sm.mb-0
            tr 
                td.text-left.w-20
                    input#informacoes.form-control(type='textarea', 
                        placeholder='Outras informações', 
                        name='outras',
                        required='true', 
                        value=(undefined===rps_list ? '' : rps_list.outras) )

        br
        br
        button.btn.btn-primary.btn-sm.bshadow( type='submit' ) Salvar
        a.button.btn.btn-outline-primary.btn-sm.ml-3.bshadow( href='javascript:history.back();') Voltar
    br
    br
    if errors 
        ul
        for error in errors
            li!= error.msg
