extends user_index

block user-list

    script.
        $(document).ready(function(){
        $('#local tr').click(function(){
            window.location = $(this).data('url');
            return false;
            });
        });

    h3.bg-warning.pt-2.pb-2.pl-2 #[strong #{title}]

    table.table#local
            thead.thead-dark
                tr
                    th(scope="col") Nome
                    th(scope="col") Email
                    th(scope="col") Status

            tbody
                each usuario in userData.user_local
                    tr(data-url=usuario.url, style="cursor:pointer", onmouseover="this.style.background='grey'", onmouseout="this.style.background='none'")
                        
                        td #{ usuario.nome }
                        td #{ usuario.email }
                        td #{ usuario.status }

                else
                    ul.list-unstyled.ml-3

                        li There are no user.

    hr
    h3.bg-warning.pt-2.pb-2.pl-2 #[strong #{titleS}]

    table.table
            thead.thead-dark
                tr
                    th(scope="col") Nome
                    th(scope="col") Status

            tbody
                each usuario in userData.user_social
                    tr(data-url=usuario.url, style="cursor:pointer", onmouseover="this.style.background='grey'", onmouseout="this.style.background='none'")
                        
                        td #{ usuario.nome }
                        td #{ usuario.status }

                else
                    ul.list-unstyled.ml-3

                        li There are no user.
    