extends orcamento_index

block orcamento-list

    h3.pt-2.pb-2.pl-2.bg-warning #[strong #{title}]
    hr
    div#printable
        style(type="text/css").
            .w-60 {
                width: 60%;
            }
            .w-10 {
                width: 10%;
            }
            .w-20 {
                width: 20%;
            }
            .w-25 {
                width: 25%;
            }
            .w-30 {
                width: 30%;
            }
            .w-40 {
                width: 40%;
            }
            .w-50 {
                width: 50%;
            }
            .w-15 {
                width: 15%;
            }
        h4 Orçamento
        table#tbl_head_print.table.table-sm 
            tbody
                tr
                    td.w-15 #[strong N°: ] #{ orcamento_detail.numero }
                    td.w-30 #[strong Data: ] #{ orcamento_detail.data }
                    td.w-40 #[strong Ultima at.:] #{ orcamento_detail.ultima_atualizacao }
                    td.w-15.noprint #[strong Situação: ] #{ orcamento_detail.situacao }
        hr
        h4 Empresa:
        table.table.table-sm
            tbody
                tr
                    td.w-30 #[strong Nome: ] #{ orcamento_detail.empresa[0].nome }
                    td.w-40 #[strong Fone: ] #{ orcamento_detail.empresa[0].fone }
                    td.w-30 #[strong CNPJ: ] #{ orcamento_detail.empresa[0].cnpj }

        h4 Cliente:
        table.table.table-sm
            tbody
                tr
                    td#pdf-nome.w-30 #[strong Nome: ] #{ orcamento_detail.cliente[0].nome }
                    td.w-30 #[strong Fone: ] #{ orcamento_detail.cliente[0].fone }
                    td.w-40 #[strong Email: ] #{ orcamento_detail.cliente[0].email }
                tr
                    td#pdf-rua.w-30 #[strong Rua: ] #{ orcamento_detail.cliente[0].rua }
                    td#pdf-numero.w-20 #[strong N°: ] #{ orcamento_detail.cliente[0].numero }
                    td#pdf-cidade.w-50 #[strong Cidade: ] #{ orcamento_detail.cliente[0].cidade }
        hr
        h4 Serviço: 
        table.table.table-sm
            thead.thead-light
                tr
                    th.w-10 #[strong qtd]
                    th.w-60 #[strong descrição]
                    th.w-15 #[strong v. u]
                    th.w-15 #[strong v. t.]
            tbody

            - for(var i=0; i < orcamento_detail.servico[0].quantidade.length; i++ )
                tr
                    td #{ orcamento_detail.servico[0].quantidade[i] }
                    td #{ orcamento_detail.servico[0].descricao[i] }
                    td #{ orcamento_detail.servico[0].v_unitario[i] }
                    td #{ orcamento_detail.servico[0].v_total[i] }

        h4 Material:
        table.table.table-sm
            thead.thead-light
                tr
                    th.w-10 #[strong qtd]
                    th.w-60 #[strong descrição]
                    th.w-15 #[strong v. u]
                    th.w-15 #[strong v. t.]
            tbody 

            - for(var i=0; i < orcamento_detail.material[0].quantidade.length; i++ )
                tr
                    td #{ orcamento_detail.material[0].quantidade[i] }
                    td #{ orcamento_detail.material[0].descricao[i] }
                    td #{ orcamento_detail.material[0].v_unitario[i] }
                    td #{ orcamento_detail.material[0].v_total[i] }

        h4 Valores:
        table.table.table-sm
            thead.thead-light
                tr
                    th.w-40
                    th.w-20 #[stromg V. total dos serviços]
                    th.w-20 #[strong V. total dos materiais]
                    th.w-20 #[strong V. total do orçamento]
                tr
                    td.w-40 Valores totais:
                    td.overline #[strong #{ orcamento_detail.v_t_servico }]
                    td.overline #[strong #{ orcamento_detail.v_t_material }]
                    td.overline #[strong #{ orcamento_detail.v_t_orcamento }]
        br
        p #[strong Obs.: ]  
        p #{ orcamento_detail.obs }
        br
        hr
        table.table.table-sm.w-75.t-top.m-0.bg-light 
            tbody 
                tr 
                    td
                        h4 RECIBO
                    td.w-50 #[strong VALOR: ] #{ undefined===orcamento_detail.recibo[0] ? '' : orcamento_detail.recibo[0].valor }
        table.table.table-sm.w-75.t-body.m-0
            tbody
                tr 
                    td.pt-3 #[strong Recebi de: ] #{ undefined===orcamento_detail.recibo[0] ? '' : orcamento_detail.recibo[0].nome_cliente}
                tr 
                    td #[strong A quantia de: ] #{ undefined===orcamento_detail.recibo[0] ? '' : orcamento_detail.recibo[0].valor_escrito }
                tr 
                    td #[strong Referente ao(s) serviço(s) de instalação descrito(s) acima.]
        table.table.table-sm.w-75.t-body.m-0
            tbody
                tr 
                    td.pt-5 #[strong Local e Data: ] #{ undefined===orcamento_detail.recibo[0] ? '' : orcamento_detail.recibo[0].local_data }
        table.table.table-sm.w-75.t-bottom
            tbody
                tr 
                    td.w-50 #[strong Emitente: ] #{ undefined===orcamento_detail.recibo[0] ? '' : orcamento_detail.recibo[0].emitente }
                    td #[strong CPF: ] #{ undefined===orcamento_detail.recibo[0] ? '' : orcamento_detail.recibo[0].cpf }
                tr
                    td.pb-3 #[strong Ass.: ] _____________________
                    td.pb-3 #[strong CNPJ: ] #{ undefined===orcamento_detail.recibo[0] ? '' : orcamento_detail.recibo[0].cnpj }
            
        br
        br
    p
    - if(loged && loged.status==='master'){
        button.btn.btn-sm.btn-danger.noprint.bshadow(type='button', data-toggle='modal', data-target='#Modal', onMouseUp='this.blur();') Remover

        a.btn.btn-sm.btn-primary.ml-3.noprint.bshadow(type='button', href=orcamento_detail.url+'/update', onMouseUp='this.blur();') Alterar
    - }

    button.btn.btn-sm.btn-primary.ml-3.noprint.bshadow(onClick='printDiv();', onMouseUp='this.blur();') Imprimir

    div.modal.fade(id='Modal' role="dialog")
        div.modal-dialog
        
            div.modal-content
                div.modal-header
                    button.close( data-dismiss="modal" )
                    h4.modal-title.text-danger #[strong Quer realmente remover este orçamento?]
                div.modal-body
                    p Numero: #[strong #{ orcamento_detail.numero }]
                    p Data: #[strong #{ orcamento_detail.data }]
                    p Stuação: #[strong #{ orcamento_detail.situacao }]
                    p Cliente: #[strong #{ orcamento_detail.cliente[0].nome }]
                    p Rua: #[strong #{ orcamento_detail.cliente[0].rua }, #{ orcamento_detail.cliente[0].numero }]
                    p Cidade: #[strong #{ orcamento_detail.cliente[0].cidade }]

                    form( method='POST' action=orcamento_detail.url+'/delete' )
                        input(type='hidden', name='_csrf', value=csrfToken )
                        input( type='hidden' name='orcamento_id' value=orcamento_detail._id )
                        hr
                        button.btn.btn-danger.btn-sm.bshadow( type='submit' ) Remover

                div.modal-footer
                    button.btn.btn-primary.btn-sm.bshadow(data-dismiss="modal") Cancelar
